
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    height: 60px;
    position: fixed;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.navbar-logo{
    width: 100px;
    margin-right: 50px;
}

.navbar-links ul{
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

@media(max-width: 768px){
    .navbar-links{
        display: none;
    }
}

.navbar-links a:hover{
    color: #999;
}

.account-logo{
    width: 35px;
    margin-right: 50px;
}