.Movie {
  background-color: #222;
}

.movie-title {
  color: white;
  padding-left: 50px;
  font-size: 24px;
  font-weight: 500;
}

.swiper-container {
  width: 100%;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.swiper-slide {
  width: 50%;
}

.swiper-slide img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  transition: transform 400ms;
}

.swiper-slide img:hover {
  transform: scale(1.2, 1.3);
  cursor: pointer;
}

@media (min-width: 768px) {
  .swiper-slide {
    width: 33.33%;
  }
}

@media (min-width: 1024px) {
  .swiper-slide {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .swiper-slide {
    width: 20%;
  }
}
