h1{
    color: white;
    padding-left: 50px;
  }
  
  .Movie{
    background-color: #222;
  }
  
  .movie-images{
    display: flex;
    width: 100%;
    padding-left: 50px;
    overflow: hidden;
  }
  
  .movie-images img{
    height: 200px;
    margin-right: 10px;
  }