
  .Movie{
    background-color: #222;
  }

  .movie-title{
    color: white;
    padding-left: 50px;
    font-size: 24px;
    font-weight: 500;
  }
  
  .movie-images{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 30px 0px;
    margin-left: 50px;
  }
  
  .movie-images img{
    width: 100%;
    height: 250px;
    margin-right: 10px;
    transition: transform 400ms;
  }

  .movie-images img:hover{
    transform: scale(1.2, 1.3);
    cursor: pointer;
  }